@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none
}

.item-container {
    @apply flex gap-2 items-center w-[500px];
    border-bottom: 1px solid rgb(54, 54, 54);
    margin-bottom: 8px;
    cursor: pointer;
}

.checked {
    font-style: italic;
    text-decoration: line-through;
}

.active {
    color: rgb(253, 0, 0);
}

.grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.date-plan {
    @apply text-[12px] relative hover:bg-[rgb(255,60,60)] hover:border-[#ff8181] hover:text-white aspect-square border border-collapse flex justify-center rounded-lg border-[gray] items-center cursor-pointer;
}

.date-plan-active {
    @apply bg-[rgb(255,60,60)] text-[#ffffff] border-[#ff8181];
}

/* scroll bar*/
::-webkit-scrollbar {
    width: 12px;
    /* Chiều rộng của thanh cuộn dọc */
    height: 12px;
    /* Chiều cao của thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Góc bo tròn của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Màu khi hover */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
    /* Màu nền của thanh cuộn */
}

/* Tùy chỉnh thanh cuộn cho Firefox */
.my-scrollbar::-webkit-scrollbar {
    display: none;
}


